@model System.Collections.Generic.IEnumerable<System_OPL.Models.Supply>

@{
    ViewBag.Title = "Zasoby";
}

<h2>Zasoby</h2>
@ViewBag.NotYourNews
<br />
<div class="CSSTableGenerator">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WOSP)
            </th>           
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WOSP)
                </td>       
              
            </tr>
        }

    </table>
</div>
