@model System.Collections.Generic.IEnumerable<System_OPL.Models.Infant>

@{
    ViewBag.Title = "Lista Noworodków";
}

<h2>Noworodki</h2>
@ViewBag.NotYourNews
<p>
    @Html.ActionLink("Lista pacjentek", "List", "Patient")
    <br />
    <br /> 
    @Html.ActionLink("Zarejestruj noworodka", "Register", "Infant")
</p>
<div class="CSSTableGenerator">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mother)
            </th>          
            <th>
                @Html.DisplayNameFor(model => model.HealthStatus)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>             
                <td>
                    @Html.DisplayFor(modelItem => item.Mother.Name) @Html.DisplayFor(modelItem => item.Mother.Surname)
                </td>               
                <td>
                    @Html.DisplayFor(modelItem => item.HealthStatus)
                </td>
                <td>
                    @Html.ActionLink("Badania", "List", "Test", new { newsId = item.Id }, null) |                  
                </td>
            </tr>
        }

    </table>
</div>