@model System_OPL.Models.Infant
@{
    ViewBag.Title = "Rejestracja";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Wprowadz dane noworodka.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.MotherId)
                @Html.TextBoxFor(m => m.MotherId)

            </li>
            <li>
                @Html.LabelFor(m => m.HealthStatus)
                @Html.TextBoxFor(m => m.HealthStatus)
            </li>        

        </ol>
        <input type="submit" value="Zarejestruj" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
