@model System_OPL.Models.Test

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Test</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Type)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartHour)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartHour)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Object.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Object.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Doctors.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Doctors.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nurses.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nurses.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
