@model System_OPL.Models.Test

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Test</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Type)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Type)
            @Html.ValidationMessageFor(model => model.Type)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartHour)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartHour)
            @Html.ValidationMessageFor(model => model.StartHour)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ObjectId, "Object")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ObjectId", String.Empty)
            @Html.ValidationMessageFor(model => model.ObjectId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoctorId, "Doctors")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DoctorId", String.Empty)
            @Html.ValidationMessageFor(model => model.DoctorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NurseId, "Nurses")
        </div>
        <div class="editor-field">
            @Html.DropDownList("NurseId", String.Empty)
            @Html.ValidationMessageFor(model => model.NurseId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
