<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>      
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("OPL - System Organizacji czasu Pracy Lekarzy", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    @if (User.IsInRole("Doctor") || User.IsInRole("Ordynator"))
                    { 
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Pacjenci", "List", "Patient")</li>
                            @*<a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>*@
                            <li>@Html.ActionLink("Zadania", "Index", "Test")</li>
                            <li>@Html.ActionLink("Zasoby", "List", "Supply")</li>
                            <li>@Html.ActionLink("Baza danych","FakerCreate","Patient" )</li>                           
                        </ul>
                    </nav>
                    }
                    @if (User.IsInRole("Nurse"))
                    {
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
            @if(!Request.IsAuthenticated)
            {
                <div style="padding-left: 35%; width:60%">
                  <div style="position:center"> 
                     <span style="font-size: 40px">@DateTime.Now.Day-@DateTime.Now.Month-@DateTime.Now.Year </span><br />
                     <span style="font-size: 40px">@DateTime.Now.DayOfWeek </span><br /><br />
                      <span style="font-size: 20px">Witaj. Proszę się zalogować.</span>
                      
                  </div>
                </div>
            }
            else
            {
                <div style="padding-left: 35%; width:60%">
                    <div style="position:center">
                        <br /><br />
                        <br /><br />
                        <span style="font-size: 15px">@DateTime.Now.Day-@DateTime.Now.Month-@DateTime.Now.Year @DateTime.Now.DayOfWeek </span><br />                        
                        <div>
                            <img alt="" src="Images/Logo.jpg"/>
                        </div>                        
                    </div>
                </div>

            }
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>                    
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
